body {
	background-color: white;
}

/* Selection color : D9D9D9*/

/* To add for black background 

html {
	background: rgb(61, 59, 59);
	filter: invert(1) hue-rotate(180deg); 
	scroll-behavior: smooth;
}
*/
.navbar {
	border-bottom: #4a5b63 1px solid;
	height: 50px;
}
#links a {
	text-decoration: none;
	color: black;
}

#links a:hover {
	text-decoration: none;
	color: black;
}
#acceuil {
	background-image: url('bg1.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	min-height: 700px;
}

#main-head .home-inner {
	padding-top: 850px;
}

#main-head .dark-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 700px;
	background: rgb(0, 0, 0, 0.5);
}
#under {
	padding-top: 350px;
}
#under h1 {
	font-size: 50pt;
}
#social-links {
	/* border-bottom: 3px solid rgba(240, 234, 234, 0.973);*/
	height: 90px;
}
.font-title {
	font-size: 40pt;
	font-weight: 12px;
}
.font-sub-title {
	font-size: 30pt;
}
.paragraph {
	line-height: 1.6;
}
.custom-card {
	border: 3px solid black;
	width: 40%;
	height: auto;
}
.custom-card-time {
	/* border: 3px solid black; */
	width: 100%;
	height: 150px;
}
.scrool-img {
	background-image: url('bg2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 300px;
}
#first-contact a:hover {
	text-decoration: none;
}

/* Test Cards */

#card-no-border {
	border: 0px;
}
.cards-list-test {
	z-index: 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.sub-card {
	margin: 30px auto;
	width: auto;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.4s;
}

.sub-card .card_title {
	text-align: center;
	border-radius: 0px 0px 40px 40px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 30px;
	margin-top: -80px;
	height: 40px;
}

.sub-card:hover {
	transform: scale(0.9, 0.9);
	box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
	color: white;
}

.title-black {
	color: black;
}

@media all and (max-width: 500px) {
	.card-list {
		/* On small screens, we are no longer using row direction but column */
		flex-direction: column;
	}
}

/* End Test */

.progress-line {
	margin: 20px;
	width: 95%;
	height: 10px;
	position: relative;
}

#progressCercle {
	margin: 20px;
	width: 135px;
	height: 80px;
}

#progressCercle2 {
	margin: 20px;
	width: 135px;
	height: 80px;
}
#progressCercle3 {
	margin: 20px;
	width: 135px;
	height: 80px;
}

#progressCercle4 {
	margin: 20px;
	width: 135px;
	height: 80px;
}

#progressCercle5 {
	margin: 20px;
	width: 135px;
	height: 80px;
}

#progressCercle6 {
	margin: 20px;
	width: 135px;
	height: 80px;
}

/* Draw line V1*/
.vertical-line {
	border-left: 2.5px solid #c4bcbc;
	height: 200px;
	position: absolute;
	left: 30%;
	margin-left: -3px;
	top: 45px;
}
.vertical-line-push {
	border-left: 2.5px solid #882d2d;
	height: 200px;
	position: absolute;
	left: 30%;
	margin-left: -3px;
	top: 295px;
}

#slide:hover,
#slide:focus {
	box-shadow: inset 15em 0 0 0 var(--hover);
}

/* Vars */
#slide {
	--color: rgb(255, 255, 255);
	--hover: #78e08f;
}

button {
	color: var(--color);
	transition: 0.60s;
}

button {
	background: #66c887;
	border: 2px solid var(--hover);
	font: inherit;
	line-height: 1;
	margin: 0.5em;
	padding: 1em 2em;
}

button:hover,
button:focus {
	border-color: var(--hover);
}
