body{
    background-color: white;
}
.navbar{
    border-bottom: #4a5b63 1px solid;
    height: 50px;
}
#links a{
    text-decoration: none;
    color: black;
}

#links a:hover{
    text-decoration: none;
    color: black;
}
#acceuil{
    background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;   
}

#main-head .home-inner{
    padding-top: 850px;
}

#main-head .dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgb(0, 0, 0, 0.5);
}
#under{
    padding-top: 350px;
}
#under h1{
    font-size: 50pt;
}
#social-links{
    /* border-bottom: 3px solid rgba(240, 234, 234, 0.973);*/
    height: 90px; 
}
.font-title{
    font-size: 40pt;
    font-weight: 12px;
}
.font-sub-title{
    font-size: 30pt;
}
.paragraph{
    line-height: 1.6;
}
.custom-card{
    border: 3px solid black;
    width: 450px;
    height: 150px;
}
.scrool-img{
    background-image: url('bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 300px;  
}
#first-contact a:hover{
    text-decoration: none;
}

/* Test Cards */
.cards-list-test {
  z-index: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sub-card {
  margin: 30px auto;
  width: 360px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.card{
    border: 0px;
}

.sub-card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.sub-card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}
  
.title-black {
  color: black;
}
  
.no-border-Test{
    border: 0px;
}


  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  
  /*
  .sub-card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */
.line{
  border-bottom: 3px solid black;
  width: 80px; 
  margin-top: 5px;
}

.progress-line{
  margin: 20px;
  width: 400px;
  height: 10px;
  position: relative;
}

#progressCercle {
  margin: 20px;
  width: 135px;
  height: 80px;
}

#progressCercle2 {
  margin: 20px;
  width: 135px;
  height: 80px;
}
#progressCercle3 {
  margin: 20px;
  width: 135px;
  height: 80px;
}

#progressCercle4 {
  margin: 20px;
  width: 135px;
  height: 80px;
}

#progressCercle5 {
  margin: 20px;
  width: 135px;
  height: 80px;
}

#progressCercle6 {
  margin: 20px;
  width: 135px;
  height: 80px;
}



/* .cercleProgress{
  margin: 20px;
  width: 135px;
  height: 80px;
}
  */

  /* Test Scroll */
.title {
    margin-top: 50px;
    font-size: 72px;
}
.options {
    margin: 25px 0 35px 0;
}
.btn {
    width: 150px;
}
.description {
    margin-bottom: 35px;
}
pre {
    font-size: 14px;
}
.options-table {
    font-size: 14px;
}
.more-info {
    margin-top: 35px;
    padding: 10px;
}
.animatecss-link,.animatecss-link:hover{
    color: #F35625;
}
.box {
    height: 150px;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.custom-classes {
    margin-top: 35px;
    margin-bottom: 35px;
}
.small-box{
    padding: 15px;
    color: yellow;
}
.fast {
    -moz-animation-duration: 1s;
    -moz-animation-delay: 0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
}
.slow {
    -moz-animation-duration: 3s;
    -moz-animation-delay: 1s;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 1s;
}
.reallyslow {
    -moz-animation-duration: 6s;
    -moz-animation-delay: 3s;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 3s;
}
.conclusion {
    margin-top: 50px;
}